<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:insert="parts/common::header"/>
    <title>LarionovaSew</title>
</head>
<body>

<th:block th:insert="parts/navbar::navbar"/>

<div class="container">
    Information Information Information Information
    Information Information Information Information Information
    Information Information Information Information
    Information Information Information Information Information
    Information Information Information Information
    Information Information Information Information Information
</div>


<th:block th:insert="parts/common::scripts"/>
</body>
</html>