<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:insert="parts/common::header"/>
    <title>Вход в CRM</title>
</head>
<body>

<th:block th:insert="parts/navbar::navbar"/>

<div class="container ">
    <h1 th:text="'Вход'"/>
    <div>
        <form th:action="@{/login}" method="post">
            <div><label> <input type="text" name="username" placeholder="Имя пользователя"/> </label></div>
            <div><label> <input type="password" name="password" placeholder="Пароль"/> </label></div>
            <div><input type="submit" value="Войти"/></div>
        </form>
    </div>
</div>

<th:block th:insert="parts/common::scripts"/>
</body>
</html>