<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="~{parts/common::header}"/>

    <th:block th:switch="${#strings.toString(#authentication.getAuthorities())}">
        <title th:case="'[ADMINISTRATOR]'">Панель администратора</title>
        <title th:case="'[MANAGER]'">Панель менеджера</title>
        <title th:case="'[CUSTOMER]'">Личный кабинет</title>
    </th:block>
</head>
<body>
<th:block th:insert="parts/navbar::navbar"/>
<div class="container-fluid">

    <div class="row">
        <!--Sidebar-->
        <div class="col-lg-2 pl-0">
            <th:block th:insert="~{parts/sidebar::sidebar}"/>
        </div>

        <div class="col-lg-7">
            <div class="row">
                <!--User Left panel-->
                <div class="col-lg-6">
                    User Left panel User Left panel User Left panel User Left panel User Left panel
                    User Left panel User Left panel User Left panel User Left panel User Left panel
                    User Left panel User Left panel User Left panel User Left panel User Left panel
                    User Left panel User Left panel User Left panel User Left panel User Left panel
                    User Left panel User Left panel User Left panel User Left panel User Left panel
                    User Left panel User Left panel User Left panel User Left panel User Left panel
                </div>
                <!--User Right panel-->
                <div class="col-lg-6">
                    User Right panel User Right panel User Right panel User Right panel User Right panel
                    User Right panel User Right panel User Right panel User Right panel User Right panel
                    User Right panel User Right panel User Right panel User Right panel User Right panel
                    User Right panel User Right panel User Right panel User Right panel User Right panel
                    User Right panel User Right panel User Right panel User Right panel User Right panel
                    User Right panel User Right panel User Right panel User Right panel User Right panel
                </div>
            </div>
            <!--Reminders-->
            <div class="row">
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
                Reminders Reminders Reminders Reminders Reminders Reminders Reminders
            </div>
        </div>
        <!--Notifications-->
        <div class="col-lg-3">
            Notifications Notifications Notifications Notifications Notifications Notifications Notifications
            Notifications Notifications Notifications Notifications Notifications Notifications Notifications
            Notifications Notifications Notifications Notifications Notifications Notifications Notifications
            Notifications Notifications Notifications Notifications Notifications Notifications Notifications
            Notifications Notifications Notifications Notifications Notifications Notifications Notifications
            Notifications Notifications Notifications Notifications Notifications Notifications Notifications

        </div>
    </div>
</div>

<th:block th:insert="~{parts/common::scripts}"/>
</body>
</html>