<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:insert="parts/common::header"/>
    <title>Регистрация</title>
</head>
<body>

<th:block th:insert="parts/navbar::navbar"/>

<div class="container ">
    <h1 th:text="'Регистрация'"/>
    <div>
        <form th:action="@{/registration}" method="post">
            <div><label> <input type="text" name="username" placeholder="Введите имя пользователя"/> </label></div>
            <div><label> <input type="password" name="password" placeholder="Придумайте пароль"/> </label></div>
            <div><label> <input type="password" name="passwordСonfirmation" placeholder="Подтвердите пароль"/> </label>
            </div>
            <div><input type="submit" value="Зарегистрировать"/></div>
        </form>
    </div>
</div>

<th:block th:insert="parts/common::scripts"/>
</body>
</html>