<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:insert="parts/common::header"/>
    <title>Регистрация</title>
</head>
<body>
<div class="container ">
    <div class="row">
        <div class="col-lg-4 mx-auto">
            <div class="card p-3">
                <div class="card-body">
                    <div class="mb-3  text-center">
                        <a href="/" th:text="LarionovaSew"/>
                    </div>
                    <h1 class="mb-3" th:text="'Регистрация'"/>
                    <form class="mb-3" th:action="@{/registration}" method="post">
                        <div class="mb-3"><input type="text" name="username" placeholder="Введите имя пользователя">
                        </div>
                        <div class="mb-3"><input type="password" name="password" placeholder="Придумайте пароль"></div>
                        <div class="mb-3"><input type="password" name="passwordСonfirmation"
                                                 placeholder="Подтвердите пароль"></div>
                        <button class="btn btn-lg btn-dark btn-block mb-2 w-100" th:text="Зарегистрироваться" type="submit"/>
                        <!--                        todo CONFIRMATION-->
                        <a class="mb-3" href="#" th:text="'Забыли пароль?'"/>
                    </form>
                    <form class="form-group mb-3" th:action="@{/login}" method="get">
                        <hr/>
                        <span th:text="'Уже есть аккаунт?'"/>
                        <button class="btn btn-lg btn-dark btn-block mt-2 w-100" th:text="Войти" type="submit"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:insert="parts/common::scripts"/>
</body>
</html>