<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h1 th:text="'Регистрация'"/>
<div th:if="${message}?${message}"/>
<form th:action="@{/registration}" method="post">
    <div><label> <input type="text" name="username" placeholder="Имя пользователя"/> </label></div>
    <div><label> <input type="password" name="password" placeholder="Пароль"/> </label></div>
    <div><input type="submit" value="Зарегистрировать"/></div>
</form>
</body>
</html>