<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание пользователя</title>
</head>
<body>
<nav th:insert="parts/navbar::navbar"/>

<div th:if="${message!=null}">
    <span th:text="${message}"/>
</div>

<h1 th:text="'Создание пользователя'"/>
<form th:action="@{/administrator/create_user}" method="post">
    <div><label> <input type="text" name="username" placeholder="Логин"/> </label></div>
    <div><label> <input type="password" name="password" placeholder="Пароль"/> </label></div>
    <div><label> <input type="text" name="firstName" placeholder="Имя"/> </label></div>
    <div><label> <input type="text" name="lastName" placeholder="Фамилия"/> </label></div>
    <div th:each="role : ${roles}">
        <label>
            <input type="radio" th:name="role" th:text="${role}" th:value="${role}"/>
        </label>
    </div>

    <div><input type="submit" value="Сохранить"/></div>
</form>


</body>
</html>